
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Ubuntu:wght@300&display=swap');
*{
font-family: 'Ubuntu', sans-serif;;
}

.main {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
    height: 83vh;
}
.main button{
    width: 100px;
    margin-top: 20px;
    border-radius: 5px;
}